@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quattrocento Sans", sans-serif;
}
body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(203, 229, 255, 1) 0%,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 1) 68%,
    rgba(243, 249, 255, 1) 79%,
    rgba(220, 237, 255, 1) 87%,
    rgba(211, 232, 255, 1) 92%,
    rgba(203, 229, 255, 1) 95%,
    rgba(188, 221, 255, 1) 100%
  ) !important;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
.table::-webkit-scrollbar {
  display: none;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vmin;
  /* justify-content: center; */
  padding: 3vmin 3vmin;
}
.container {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}
.nav-parent {
  padding: 3vmin 8vmin;
  position: sticky;
  top: 0;
}
.navbar {
  background-color: aliceblue;
  border-radius: 20px;
  padding: 2vmin 5vmin;
}
.signup-grandparent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4vmin;
  padding: 0vmin 10vmin;
}
.signup-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4vmin;
}
.signup-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3vmin;
}
.form-parent {
  flex: 1;
  /* padding: 5vmin 10vmin; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: aliceblue; */
  /* color: rgb(198, 232, 255); */
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2vmin;
  border-radius: 10px;
  /* background-color: rgb(213, 227, 239); */
  gap: 2vmin;
}

.err {
  color: red;
  font-size: 1.5vmin;
  margin-top: 0.5vmin;
}
.organisations-parent {
  /* width: 50vw; */
  flex: 1;
  gap: 2rem;
  padding: 2vmin 10vmin;
}
.alerts-parent {
  flex: 1;
  padding: 4vmin 10vmin;
}
.events-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 4vmin;
  padding: 3vmin 15vmin;
}
.event-card {
  padding: 2vmin;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 3vmin;
  background-color: white;
  border: 1px solid lightblue;
}
.thanks-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tag-heading {
  font-size: 2.5vmax;
  font-weight: 700;
}

.tag-subHeading {
  font-size: 1.2vmax;
}

.tag-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.complaint-box {
  /* line-height: 3vmax; */
  display: flex;
  flex-direction: column;
  /* padding-top: 5vw; */
  gap: 3vmax;
}

.details-form {
  flex-direction: column;
  gap: 2rem;
}

.complaint-parent {
  flex: 1;
  padding: 2vmax 0;
  display: flex;
  flex-direction: column;
  gap: 4vmax;
}

.next-button {
  display: flex;
  justify-content: flex-end;
}

.complaints-parent {
  flex: 1;
  flex-direction: column;
  padding: 2vmax 2vmax;
  gap: 3vmax;
}

#complaints-header {
  padding: 2vw;
}

.button-div {
  display: flex;
  flex-wrap: wrap;
  gap: 2vmax;
}

.progress-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.progress-bar {
  /* border: 2px blue solid; */
  background-color: aliceblue;
  height: 2vh;
  border-radius: 50px;
  width: 50vw;
}

.progress {
  height: 100%;
  background-color: #7bb3ea;
}
#sign-in-img {
  width: 50vmax;
}

.buttons {
  display: flex;
  gap: 1vmax;
  /* justify-content: center; */
}

.donations-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 6vmin; */
  padding: 7vmin 4vmin;
}

@media (max-width: 1000px) {
  .signup-parent {
    flex-direction: column;
    justify-content: center;
    gap: 6vmax;
  }
  .form-parent {
    flex: 0;
  }
  .signup-btns {
    flex-direction: column;
    gap: 2vmax;
  }
  .form {
    gap: 2vmax;
  }
  .err {
    font-size: 1.4vmax;
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(-25px);
  }
}
